section.books {
    height: 60%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 2em;
    padding: 0 1em 0 1em;
    overflow: auto;
}

.books>div>img {
    box-shadow: 0px 1px 1px #00000040;
    border: 1px solid #707070;
    height: 40%;
    width: 40%;
    margin-bottom: 1em;
}

.books>div>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 40%;
}

.books>div>div>h4 {
    margin: 0;
    text-align: center;
    color: black;
}

.books>div>div>h5 {
    margin: 0;
    text-align: center;
    color: #4b4b4b;
}

.books>div>div>div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.5em;
    height: 2em;
}

.books>div>div>div>div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0.3em;
}

.plus {
    margin-left: 1.5em;
}

.books>div {
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em 0 1em 0;

    background: #FFFFFF82 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 3px #00000040;
    border: 1px solid #707070;
    border-radius: 2em 2em 2em 2em;
}

section.add-book {
    width: 100%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-new-book {
    padding-left: 3em;
}

fieldset{
    border: none;
    float: left;
    padding: 0;
    margin: 0;
}

fieldset > input{
    display: none;
}

fieldset > label:before{
    content: '\f005';
    font-family: FontAwesome;
    margin: 0.1em;
    font-size: 1.5em;
    display: inline-block;
    cursor: pointer;
}

fieldset > label{
    color: #ddd;
    float: right;
    cursor: pointer;
    width: 20%;
}

fieldset > input:checked ~ label{
    color: #fffc1c;
}

button.plus {
    background: #fff99c;
    cursor: pointer;
    margin: 0;
    height: 2em;
    width: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

section>div>div>div>form {
    height: 100%;
    justify-content: center;
    align-items: center;
    padding-left: 1.5em;
}

@media only screen and (max-device-width: 420px) {
    section.books{
        grid-template-columns: repeat(2, 1fr);
    }
}