section.news {
    padding: 0 1em 0 1em;
    overflow: auto;
}

#content
{
    clear:both;
}

#center
{
    float:left;
    width: 100%;
}

#headline, #latest
{
    width: fit-content;
    margin:10px;
    padding:10px;
    border:#daccb0 1px solid;
    background-color:#f4f1e9;
    background-position:top;
    background-repeat:no-repeat;
    overflow:hidden;
}

#featured
{
    float:left;
    width:50%;
    margin:0 0 10px 10px;
    padding:10px;
    border:#daccb0 1px solid;
    background-color:#f4f1e9;
    background-position:top;
    background-repeat:no-repeat;
    overflow:hidden;
}

#popular
{
    float:right;
    width:50%;
    padding:10px;
    margin-right: 10px;
    border:#daccb0 1px solid;
    background-color:#f4f1e9;
    background-position:top;
    background-repeat:no-repeat;
    margin-bottom:10px;
    overflow:hidden;
}

#headline p, #featured p, #popular p, #latest p
{
    overflow:hidden;
}

#headline img, #featured img, #popular img, #latest img
{
    float:left;
    margin:5px 10px 10px 0;
    padding:1px;
    border:#c9bba0 1px solid;
}

#headline img, #latest img
{
    max-width:586px;
}

#featured img, #popular img
{
    float:left;
    margin:5px 5px 5px 0;
    padding:1px;
    border:#c9bba0 1px solid;
    max-width:276px;
}

#latest img
{
    float:left;
    margin:5px 7px 7px 0;
    padding:1px;
    border:#c9bba0 1px solid;
}

#headline h3, #featured h3, #popular h3, #latest h3
{
    background-color:#d5c6a6;
    font-family:Arial, Helvetica, sans-serif;
    font-size:11px;
    color:#333333;
    padding:3px 7px;
    text-transform:uppercase;
    border:#cbbb9a 1px solid;
    margin-top:0;
    margin-bottom:3px;
}

#headline h2 a
{
    display:block;
    font-family:Arial, Helvetica, sans-serif;
    margin-top:7px;
    padding-bottom:2px;
    font-size:20px;
    color:#333333;
    border-bottom:#333333 1px dotted;
}

#headline h2 a:link, #headline h2 a:visited, #featured h2 a:link, #featured h2 a:visited, #popular h2 a:link, #popular h2 a:visited, #latest h2 a:link, #latest h2 a:visited, #the_loop h2 a:link, #the_loop h2 a:visited
{
    color:#333333;
    text-decoration:none;
}

#headline h2 a:hover, #headline h2 a:active, #featured h2 a:hover, #featured h2 a:active, #popular h2 a:hover, #popular h2 a:active, #latest h2 a:hover, #latest h2 a:active, #the_loop h2 a:hover, #the_loop h2 a:active
{
    color:#333333;
    text-decoration:underline;
}

#headline p, #featured p, #popular p, #latest p
{
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    line-height:20px;
    color:#333333;
}

#headline p,  #latest p
{
    text-align:justify;
}

#headline p a:link, #headline p a:visited,  #featured p a:link, #featured p a:visited, #popular p a:link, #popular p a:visited, #latest p a:link, #latest p a:visited
{
    color:#cc3300;
    text-decoration:none;
}

#headline p a:hover, #headline p a:active, #featured p a:hover, #featured p a:active, #popular p a:hover, #popular p a:active, #latest p a:hover, #latest p a:active {
    text-decoration:underline;
}

#featured h2, #popular h2, #latest h2
{
    font-family:Arial, Helvetica, sans-serif;
    margin-top:7px;
    font-size:16px;
    color:#333333;
}

.spost
{
    clear:both;
    padding-bottom:5px;
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
}

#featured .spost, #popular .spost
{
    min-height:123px;
}

.spbottom
{
    clear:both;
    border-bottom:#333333 1px dotted;
}

p.read
{
    margin-top:5px;
}

#latest, #bottom
{
    clear:both;
}

.featured-popular {
    width: 100%;
    display: flex;
    flex-direction: row;
}

img {
    width: 10em;
    height: 6em;
}

header>img {
    width: 80%;
}

@media only screen and (max-device-width: 420px) {
    #headline {
        display: flex;
        flex-direction: column;
    }

    .featured-popular{
        display: flex;
        flex-direction: column;
        width: fit-content;
        height: fit-content;
    }

    #featured, #popular{
        width: 100%;
        width: fit-content;
        height: fit-content;
        margin: 10px;
        padding: 10px;
        display: flex;
        flex-direction: column;
    }

    header>img{
        width: 80%;
    }

    p>a {
        font-size: 10px;
    }

}