section.rankings {
    height: 70%;
    width: 100%;
    display: flex;
    flex-direction: row;
    overflow: auto;
}

.rankings>div>div>div {
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em 0 1em 0;

    background: #FFFFFF82 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 3px #00000040;
    border: 1px solid #707070;
    border-radius: 2em 2em 2em 2em;
}

.rankings>div>div>div>img {
    box-shadow: 0px 1px 1px #00000040;
    border: 1px solid #707070;
    height: 40%;
    width: 40%;
}

.rankings>div>div>div>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 40%;
}

.rankings>div>div>div>div>h3 {
    margin: 0;
    text-align: center;
    color: black;
}

.rankings>div>div>div>div>p {
    margin: 0;
    text-align: center;
    color: #4b4b4b;
}

.rankings>div>div>div>div>div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.5em;
    height: 3vh;
}

.rankings>div>div>div>div>div>div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0.3em;
}

.averages {
    width: 50%;
    height: fit-content;
    border-right: 1px solid black;
    padding: 0 2em 2em 2em;
}

.votes {
    width: 50%;
    height: fit-content;
    border-left: 1px solid black;
    padding: 0 2em 2em 2em;
}

.top-averages {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2em;
}

.top-votes {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2em;
}