body {
    margin: 0;
}

.container {
    width: 100vw;
    height: 100vh;
    background: transparent linear-gradient(180deg, #7D4E18F9 0%, #563A1AF9 100%) 0% 0% no-repeat padding-box;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 50%;
    text-align: center;
}

.login-container {
    width: 50%;
}

form.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 40vh;

    background: #FFFFFF82 0% 0% no-repeat padding-box;
    box-shadow: 0px 6px 6px #00000040;
    border: 1px solid #707070;
    border-radius: 68px;
}

.login-button {
    background: #643E14F9 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 44px;

    width: 50%;
    border: none;
    color: white;
    margin: 1em;
    line-height: 2.5em;
}

input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid gray;
    padding: 1em;
    margin: 1em;
    width: 50%;
}


@media only screen and (max-device-width: 420px) {
    .container {
        flex-direction: column;
    }

    * {
        font-size: 36px;
    }

    .login-container, .logo {
        width: 100%;
    }

    form {
        margin: auto;
    }

    img {
        height: 7em;
        margin: 2em;
    }

}

.base-container {
    background: transparent linear-gradient(180deg, #7D4E18F9 0%, #563A1AF9 100%) 0% 0% no-repeat padding-box;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

main {
    height: 100%;
    width: 80%;
}

header {
    width: 100%;
    height: 30%;
    background: #FFFFFF4D 0% 0% no-repeat padding-box;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

section {
    height: 70%;
    background: #FFFFFF70 0% 0% no-repeat padding-box;
}

section.home {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
}


header>img {
    height: 50%;
    margin-top: 2em;
    margin-bottom: 1em;
}

ul {
    list-style-type: none;    
    width: 100%;
    height: 15%;
    padding: 0;
    display: flex;
}

ul>li {
    float:left;
    background: #563A1AF9 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    width: 25%;
    height: 100%;
    margin-left: 1em;
    margin-right: 1em;
}

ul a {
    height: 100%;
    display: flex;
    color: white;
    text-decoration: none;
    justify-content: center;
    align-items: center;
}

a>i {
    margin-right: 0.75em;
}

form.option {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.search-bar {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.search-bar>form>input {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 23px;
    width: 100%;
    text-align: center;
    color: gray;
    margin-top: 1em;
    box-sizing: border-box;
}