body {
    margin: 0;
}

.container {
    width: 100vw;
    height: 100vh;
    background: transparent linear-gradient(180deg, #7D4E18F9 0%, #563A1AF9 100%) 0% 0% no-repeat padding-box;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 50%;
    text-align: center;
}

.login-container {
    width: 50%;
}

form.login, form.register {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 40vh;

    background: #FFFFFF82 0% 0% no-repeat padding-box;
    box-shadow: 0px 6px 6px #00000040;
    border: 1px solid #707070;
    border-radius: 68px;
}

form.register {
    height: fit-content;
}

button {
    background: #643E14F9 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 44px;

    width: 50%;
    color: white;
    margin: 1em;
    line-height: 2.5em;
}

form>a {
    background: #643E14F9 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 44px;
    font: 400 13.3333px Arial;
    width: 50%;
    color: white;
    margin: 1em;
    line-height: 2.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

input, textarea {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid gray;
    padding: 1em;
    margin: 1em;
    width: 50%;
}

.base-container {
    background: transparent linear-gradient(180deg, #7D4E18F9 0%, #563A1AF9 100%) 0% 0% no-repeat padding-box;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

main {
    height: 100%;
    width: 80%;
}

header {
    width: 100%;
    height: 30%;
    background: #FFFFFF4D 0% 0% no-repeat padding-box;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

section {
    height: 70%;
    background: #FFFFFF70 0% 0% no-repeat padding-box;
}

header>div {
    width: 100%;
    flex-direction: row;
    padding-top: 1em;
}

header>div>a {
    text-decoration: none;
    color: black;
    float: right;
    padding-right: 1em;
}

header>div>div {
    float: right;
    padding-right: 1em;
}

header>img {
    height: 50%;
}

ul {
    list-style-type: none;    
    width: 100%;
    height: 15%;
    padding: 0;
    display: flex;
}

ul>li {
    float:left;
    background: #563A1AF9 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    width: 25%;
    height: 100%;
    margin-left: 1em;
    margin-right: 1em;
}

ul a {
    height: 100%;
    display: flex;
    color: white;
    text-decoration: none;
    justify-content: center;
    align-items: center;
}

a>i {
    margin-right: 0.75em;
}

div.add-book {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.add-book>i {
    padding: 1em 1em;
}

.add-book-button {
    background: #E3BC1F 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 20px;
    text-decoration: none;

    width: 40%;
    height: 50%;
    border: none;
    color: black;
    margin: 1em;
    line-height: 2.5em;

    display: flex;
    justify-content: center;
    align-items: center;
}

.search-bar {
    height: 100%;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-bar>input {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #707070;
    border-radius: 3em;
    width: 70%;
    text-align: center;
    letter-spacing: 0.72px;
    color: #A8A8A8;
    margin: 0;
    box-sizing: border-box;
    height: 50%;
}

section.options {
    height: 10%;
    display: flex;
    flex-direction: row;
}

.no-valid {
    border: 3px solid red;
    border-radius: 1em;
    box-shadow: 0 0 0.2em red;
    outline: none;
}

@media only screen and (max-device-width: 420px) {
    .container {
        flex-direction: column;
    }

    * {
        font-size: 32px;
    }

    .login-container, .logo {
        width: 100%;
        padding-bottom: 2em;
    }

    form {
        margin: auto;
    }

    img {
        width: 80%;
    }

    li>a {
        line-height: 0;
        font-size: 0;
    }

    a>i {
        margin: 0;
    }
}